/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#boxes{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.card-body{
  width: 5rem;
  height: 5rem;
  background-color: #0d5cd4;
  border-radius: 8px;
  border: 4px solid yellow;
}

.card-title{
  margin: 0;
  padding: 0;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 40px;
  color: rgb(232, 232, 13);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.changa-p {
  font-family: "Changa", sans-serif;
  font-size: 20px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
}

h1 {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: bold;
  color: black;
}
